
body{
    margin: 20px;
}

h1{
    font-size: 40px;
    font-weight: 700;
    padding: 20px;
    margin: 10px;;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(178, 66, 32);
}

h2{
    font-size: 30px;
    font-weight: 550;
}

th{
    padding: 8px;
    border: 2px solid black;
    font-weight: 600;
}

nav{
    display: flex;
    justify-content: flex-end;
}

table{
    margin: 20px;
}

td{
    padding: 8px;
    border: 2px solid black;
}

a{
    padding-right: 10px;
    font-size: 25px;
}

input{
    display: block;
    margin: 20px;
}